@charset "UTF-8";
@import "fun";

.page-content {
  bottom: rem(50px);
}

.msg-remind {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999999;

  li {
    max-width: rem(100px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.list {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: rem(50px);
  overflow: hidden;
  background-color: #fff;

  .fa.fa-picture-o {
    padding: 10px;
  }
  .msg-input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #7d7e83;
    outline: none;
  }
  .btn.submit {
    padding: 10px;
  }
}